*{
    font-family: "roboto",sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color:brown ;
    display:flex;
    justify-content: space-between;
    color: rgb(91, 4, 4);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
header.logo p{
    font-weight: 600;
    cursor: pointer;
    color: rgb(225, 12, 12);
}
header nav{
width: 70%;
display: flex;
justify-content: flex-end;
}
header nav ul{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    transition: all 3s ease;
}
header nav ul li a:hover{
    text-decoration:line-through;
    background-color: white;
    color:blue;
    border-radius: 5px;
}
@media screen and(max-width:480px){
    header{
        display: block;
        background-color: brown;
    }
}
header nav ul{
      display: block;
      width:100%;
}
header nav ul li a{
    padding:10px 0px;
}